body,
html {
    padding: 0;
    margin: 0;
}

#wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4b6cb7;
    background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);
    background: linear-gradient(to bottom, #182848, #4b6cb7);
}
